<div class="masterhead container p-1">
    <div class="row p-1">
        <div class="col-md-12 mx-auto p-1">
            <div class="card">
                <h3 class="card-header text-center p-2">Resolver:</h3>
                <div class="card-body">
                    <form action="/ejercicios/solve_ejercicio/{{ejercicio.id_Ejercicio}}" method="POST" enctype="multipart/form-data">
                        <div class="form-group mx-auto">
                            <h4 class="text-center">Funcion Objetivo:</h4>
                            <input type="text" name="func_Obj" value="{{ejercicio.func_Obj}}" readonly="readonly" class="form-control"  placeholder="Función Objetivo">
                        </div>
                        <div class="form-group">
                            <h4 class="text-center">Fecha Inicial</h4>
                            <input type="text" id="fecha_Ini" name="fecha_Ini" value="{{ejercicio.fecha_Ini}}" readonly="readonly" class="form-control" placeholder="Fecha de Inicio del Ejercicio.">
                        </div>
                        <div class="form-group">
                            <h4 class="text-center">Fecha de Entrega</h4>
                            <input type="text" id="fecha_Fin" name="fecha_Fin" value="{{ejercicio.fecha_Fin}}" readonly="readonly" class="form-control" placeholder="Fecha de Entrega del Ejercicio.">
                        </div>
                        <div class="form-group">
                            <textarea name="desc_Ejer" rows="2" class="form-control" readonly="readonly" placeholder="Descripcion del ejercicio">{{ejercicio.desc_Ejer}}</textarea>
                        </div>
                        <input id="fk_Docente" name="fk_Docente" type="hidden" value="1"/>
                        <input id="fk_Ejercicio" name="fk_Ejercicio" type="hidden" value={{ejercicio.id_Ejercicio}}>
                        <div class="form-group">
                        <input type="file" name="solucion" id = "solucion" accept="image/png, image/jpeg" {{ existe }}><h5 style="font-style:oblique; color:red">{{ texto }}</h5>  
                        <img id="img" name="img" height="150"> 
                        <input id="img_Solucion" name="img_Solucion" type="hidden"/> 
                       </div>
                                             
                        <button class="btn btn-success btn-block" style="display: {{ visible }}"; {{ existe }}>
                            Actualizar
                        </button>
                        <button class="btn btn-warning btn-block" style="display: {{ visible }} "; onclick="history.back(); return false">
                            Regresar
                        </button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("solucion").addEventListener("change", readFile);
</script>